<!---
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="resources/js/vue.js"></script>
    <script src="resources/js/aflapconf.js"></script>
    <script src="resources/js/flock-browser.js"></script>
    <script src="resources/js/Flbrowser.js"></script>
    <script src="resources/js/displayers-browser.js"></script>
    <link href="resources/css/teutonic.css" rel="stylesheet">
    <link href="resources/css/aflap-main.css" rel="stylesheet">
</head>

<body class="">

<!---- HEADERS --->
<div class="grid gap-custom ma-t_s">
    <div class="span-11" id="logoDiv">
        <a href="#">
            <img src="resources/img/logo.png" id="logo">
        </a>
    </div>
    <div class="span-1" id="about-modal">
        <modal v-if="showModal" @close="showModal = false">
            <template v-slot:body>
                <p class="grid-auto ma-v_s text_l read_l">
                <h2 class="ma-v_s ">Description</h2>
                Aflap is an application based on <a class="link" href="">flock technology</a>. It enables basic web functionnalities like content sharing without relying on a server.
                Your data stay between you and your recipients. It is never hosted on a third party. Every time you see or create a resource, you start sharing it
                with people asking for the same resource : it works till you close the browser tab. Thus a resource is available as long as someone has it open in its web browser.
                </p>
                <p class="grid-auto ma-v_s text_l read_l">
                <h2 class="ma-v_s ">Why this project ? </h2>
                Today's web starts failing with its initial promises.
                As companies grow monopolies through internet opportunities, user data is beeing more and more marchandised,
                and information neutrality jeopardized by ideological and commercial interests.
                Flock protocols are an attempt to recreate web functionnalities closer to the user interest.
                By delegating hosting, processing and delivery to peers rather than centralized servers, we hope to gain back what was lost in freedom and data privacy.
                </p>
                <p class="grid-auto ma-v_s text_l read_l">
                <h2 class="ma-v_s ">Contribution</h2>
                The <a href="">flock technology</a> is a free technology. It relies on good will to keep it alive. Developers, testers, sponsors are most welcome.
                </p>
                <p class="grid-auto ma-v_s text_l read_l">
                <h2 class="ma-v_s ">Contact</h2>
                To contact us on any subjects : bug, suggestions, participations, business, ... feel free to  <a class="link" href="mailto:contact@flockproject.com">contact us</a>
                </p>
            </template>
        </modal>
        <a id="about" @click="showModal = true">About</a>
    </div>

</div>
<!--<a href="#" id="show-modal" @click="showModal = true">-->
    <!--about-->
<!--</a>-->
<!----- MAIN PART --->
<div id="main" class="text_s">
    <!------ REQUEST BAR ---->
    <div class="grid-auto gap_ text-mono gap-h_s ma-t_s text-mono">
        <!---- search box --->
            <div class="search-box right span-3 flex wrap-no gap-no text_l read_s" >
                <input type="search" class="input" title="search a resource with a known key" placeholder="Document key" v-model="inputKey" v-on:keyup.enter="display(inputKey, displayContainerId)">
                <button class="pa-r_m button ra-pill-r" type="submit" name="e-submit" @click="display(inputKey, displayContainerId)"></button>
            </div>
            <!--<button v-if="hasStatus('watch', 'display') && !hasStatus('feed')" class="button span-1 text-center" data-tooltip="Help sharing this content from your browser" @click="feedKey(currentKey)">-->
                <!--FEED-->
            <!--</button>-->
            <button class="button span-1 text-center" data-tooltip="Upload and share a new resource" v-if="!hasStatus('feed', 'selecting') && !hasStatus('feed', 'cutting')" @click="setStatus('feed', 'selecting', true)">
                NEW DOC
            </button>
    </div>

    <!------ MESSAGING ZONE ---->
    <div class="gap_xs gap-h_s ma-t_s text-mono" v-if="hasStatus('watch', 'reach')" key="document-messaging">

        <div class="box span-1">
            ACCESSING THE RESOURCE : {{watchOperation.bestBucket || 0}} / {{totalBuckets(watchOperation.hexKey)}}
            <div class="charging"></div>
        </div>
    </div>

    <!------ DISPLAY ZONE ---->
    <div class="grid-auto gap_xs gap-h_s ma-t_s text-mono" v-if="hasStatus('watch', 'display')">
        <div class="box span-1" id="displayBox" key ="document-box">
        </div>
    </div>

    <!------ NEW FEED ZONE ---->
    <div class="gap_xs gap-h_s ma-t_s " v-if="hasStatus('feed')">
        <div class="box ma-b_m" key="document-creation">



            <div class="grid-auto ma-v_s text_s ">
                Share a resource through peer 2 peer communications. Feeding is enabled as long as you keep this window open.
            </div>

            <div class="flex " id="newDocTypes" v-if="hasStatus('feed', 'selecting')">
                <div class="span-auto newDocType box" v-on:click="newDocType='file'" v-bind:class="[isNewDocTypeSelected('file') ? 'selected active arrow' : 'unselected']">
                        <input id="newDocTypeFile" type="radio" v-model="newDocType" name="newDocType" value="file"  checked="checked">
                        File
                </div>
                <div class="span-auto newDocType box" v-on:click="newDocType='thread'" v-bind:class="[isNewDocTypeSelected('thread') ? 'selected active arrow' : 'unselected']">
                        <input id="newDocTypeThread" type="radio" v-model="newDocType" name="newDocType" value="thread" >
                        Thread
                </div>
            </div>

            <div class="ma-v_s" id="newDocDescription" v-if="hasStatus('feed', 'selecting')">
                <template v-if="isNewDocTypeSelected('file')">
                    Create a document from an uploaded file. This file will be available for download. Images, audio and webm videos will be viewable directly in the browser.
                </template>
                <template v-if="isNewDocTypeSelected('thread')">
                    Create a peer to peer chatroom. Messages can be both text or file.
                </template>

            </div>

            <template v-if="isNewDocTypeSelected('file')">
                <div class="ma-v_s" >
                    <h5 v-if="hasStatus('feed', 'selecting')"> Selecting a file to share</h5>
                    <h5 v-if="hasStatus('feed', 'cutting')"> Storing file locally : {{storedFileSize | bytes}} / {{fileSize | bytes}}</h5>
                    <h5 v-if="hasStatus('feed', 'feeding')"> FEEDING FILE "{{fileName}}"</h5>
                </div>
                <input type="file" name="feedFile" v-on:change="feedFile=$event" id="feedFile" class="file input" v-if="isNewDocTypeSelected('file')" >
            </template>

            <div class="ma-v_s gap_s" v-if="hasStatus('feed', 'selecting')">
                <input type="submit" class="button" :disabled="!canCreateNewDoc()" @click="createDocument()" value="create" :title="newDocSubmitTitle">
            </div>

        </div>

    </div>

    <!---- METRIC ZONE -------->
    <div class="grid-auto gap_xs ma-t_s text-mono" v-if="hasStatus('feed', 'feeding')">
        <div class="box" >
            <span><label class="hand" for="metricsCheckbox"><h5 class="hand" for="metricsCheckbox"> METRICS </h5></label></span>

            <input type="checkbox" id="metricsCheckbox" class="displayCheckbox"/>
            <label class="mini-info pos-tr toggler" for="metricsCheckbox" class="show" ref="expandAdvanced" title="expand">&#x25BC;</label>
            <label class="mini-info pos-tr toggler" for="metricsCheckbox" class="hide" ref="reduceAdvanced" title="reduce">&#x25B2;</label>
            <div id="metricsContent" class="ma-v_s text_s displayedContent">
                <table class="table bo-h">
                    <tr>
                        <th>metric</th>
                        <th> last minute</th>
                        <th> last hour</th>
                        <th> all time</th>
                    </tr>
                    <tr>
                        <td>requests received</td>
                        <td>{{feedStats.requests.M}}</td>
                        <td>{{feedStats.requests.H}}</td>
                        <td>{{feedStats.requests.A}}</td>
                    </tr>

                    <tr>
                        <td>uploaded</td>
                        <td>{{feedStats.bandwidth.M | bytes}}</td>
                        <td>{{feedStats.bandwidth.H | bytes}}</td>
                        <td>{{feedStats.bandwidth.A | bytes}}</td>
                    </tr>

                    <tr>
                        <td>connected peers</td>
                        <td>{{feedStats.connectedNodes.M}}</td>
                        <td>{{feedStats.connectedNodes.H}}</td>
                        <td>{{feedStats.connectedNodes.A}}</td>
                    </tr>

                    <tr>
                        <td>feeding peers</td>
                        <td>{{feedStats.feedingNodes.M}}</td>
                        <td>{{feedStats.feedingNodes.H}}</td>
                        <td>{{feedStats.feedingNodes.A}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!------ ADVANCED ZONE ---->
    <div class="grid-auto gap_xs ma-t_s text-mono" v-if="hasStatus('feed', 'feeding') || hasStatus('watch', 'display')">

        <div class="box" >
            <span><label class="hand" for="advancedCheckbox"><h5 class="hand" for="advancedCheckbox"> ADVANCED </h5></label></span>

            <input type="checkbox" id="advancedCheckbox" class="displayCheckbox" />
            <label class="mini-info pos-tr toggler" for="advancedCheckbox" class="show" ref="expandAdvanced" title="expand">&#x25BC;</label>
            <label class="mini-info pos-tr toggler" for="advancedCheckbox" class="hide" ref="reduceAdvanced" title="reduce">&#x25B2;</label>
            <div id="advancedContent" class="ma-v_s text_s displayedContent">
                <table class="table bo-h">
                    <tr>
                        <td>name</td>
                        <td>{{currentDocName}}</td>
                    </tr>
                    <tr>
                        <td>share link</td>
                        <td>
                            <input id="advancedLink" class="hand" v-model="currentKeyUrl" @click="clipboardCopy('#advancedLink')" data-tooltip="click to copy" readonly >
                            <span class="text_xl clipboad" title="click to copy" @click="clipboardCopy('#advancedLink')">&#128206;</span>
                        </td>
                    </tr>

                    <tr>
                        <td>key</td>
                        <td>
                            <input id="advancedKey" class="hand" v-model="currentKey" @click="clipboardCopy('#advancedKey')" data-tooltip="click to copy" readonly >
                            <span class="text_xl clipboad" title="click to copy" @click="clipboardCopy('#advancedKey')">&#128206;</span>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td> <a href="#" @click="displayers.fileDisplayer.downloadFrdoc(currentDocument);">download &darr;</a></td>
                    </tr>
                    <tr>
                        <td>size</td>
                        <td>{{currentDocSize | bytes}}</td>
                    </tr>
                    <tr>
                        <td>type</td>
                        <td>{{currentDocType}}</td>
                    </tr>
                    <tr>
                        <td>subtype</td>
                        <td>{{currentDocSubtype}}</td>
                    </tr>
                    <tr v-if="currentDocWingspan">
                        <td>wingspan</td>
                        <td>{{currentDocWingspan}}</td>
                    </tr>

                </table>
            </div>
        </div>
    </div>

    <!-- template for the modal component -->


    <!-- use the modal component, pass in the prop -->




</div>


<!----- BOTTOM PART --->
<div id="footer" class="text_s" >
    <a href="https://gitlab.com/cuicuicui/flock">alpha flock application version : 0.0.1</a>
</div>


<script src="resources/js/index.js"></script>

</body>

</html>
